{% extends 'main/base.html' %}
{% block content %}
<h1>{{user.username}}'s campaigns</h1>
{% if user.is_authenticated %}
{% if campaigns %}
  <table class="table">
    <tr>
      <td><b>Name</b></td>
    </tr>
    {% for campaign in campaigns %}
    <!-- {% url 'character' char_pk=character.pk as view_url %}
    {% url 'edit' pk=character.pk as edit_url %}
    {% url 'delete' pk=character.pk as delete_url %} -->
    <tr>
      <td>{{ campaign.name }}</td>
<!--
      <td>{{ character.characterClass }}</td>
      <td>{{ character.level }}</td>
      <td>{{ character.updated_on }}</td>
      <td><a class="btn btn-primary" href="{{ view_url }}">View</a></td>
      <td><a class="btn btn-primary" href="{{ edit_url }}"">Edit</a></td>
      <td><a class="btn btn-primary" href="{{ delete_url }}"">Delete</a></td>
      -->
    </tr>

    {% endfor %}
</table>
{% else %}
<p>No campaigns
{% endif %}
<p><a class="btn btn-primary" href="{% url 'createCampaign' %}">Create a new campaign</a>
{% else %}
<p style="text-align:right"><a href="{% url 'login'%}">Login to create a campaign</a>
{% endif %}
{% endblock content %}
