{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ campaign.name }}{% endblock %}

{% block content %}
<div class="card" style="">
<div class="card-body">
<h1>{{ campaign.name }}</h1>
<p>{{ campaign.description }}
<table class="table table-sm table-light">
{% if characters %}

  <thead>
    <th>Name</th>
    <th>Class</th>
    <th>AC</th>
    <th>Passive perception</th>
    <th>Last updated</th>
    <th></th>
    <th></th>
  </thead>
  {% for character in characters %}
  {% url 'character' char_pk=character.pk as view_url %}
  {% url 'remove' characterpk=character.pk campaignpk=campaign.pk as remove_url %}
  <tr>
    <td>{{ character.name }} <small class="text-muted">{{character.level}}</small></td>
    <td>{{ character.characterClass }}</td>
    <td>{{ character.armorClass }}</td>
    <td>{{ character.passivePerception }}</td>
    <td>{{ character.updated_on }}</td>
    <td><a class="btn btn-primary btn-sm" href="{{ view_url }}">View</a></td>
    {% if character.author == user %}<td><a class="btn btn-primary btn-sm" href="{{ remove_url }}">Remove</a></td>{% endif %}
  </tr>

  {% endfor %}
  {% else %}
    <tr>
      <td>No characters</td>
    </tr>
  {% endif %}
</table>
<br>
<form action="" method="post">
    {% csrf_token %}
    <!-- to do: add tooltip about character Id numbers -->
      <label for="id_characterpk"><h4>Add character</h4></label>
      <p><small class="text-muted">Enter  a character's ID number (the number at the end of their profile page's URL, e.g. mychar.com/<mark>4</mark>/)</small>
    <p>{{ form.characterpk }}
    <input type="submit" value="Add">
    {% if not_valid %}
      <em>Not a valid character ID</em>
    {% endif %}
    </div>
</form>
</div>
{% endblock %}
