{% extends 'main/base.html' %}
{% block content %}
<h1>{{user.username}}'s campaigns</h1>
{% if user.is_authenticated %}
{% if campaigns %}
  <table class="table table-light">
    <thead>
      <th>Name</th>
      <th>Players</th>
      <th></th>
      <th></th>
    </thead>
    {% for campaign in campaigns %}
    {% url 'campaign' campaignpk=campaign.pk as view_url %}
    {% url 'campaignDelete' pk=campaign.pk as delete_url %}
    <tr>
      <td>{{ campaign.name }}</td>
      <td>{{ campaign.characters.all.count }}</td>
      <td><a class="btn btn-primary btn-sm" href="{{ view_url }}">View</a></td>
      <td><a class="btn btn-primary btn-sm" href="{{ delete_url }}"">Delete</a></td>
    </tr>

    {% endfor %}
</table>
{% else %}
<p>No campaigns
{% endif %}
<p><a class="btn btn-primary" href="{% url 'createCampaign' %}">Create a new campaign</a>
{% else %}
<p style="text-align:right"><a href="{% url 'login'%}">Login to create a campaign</a>
{% endif %}
{% endblock content %}
