{% extends 'main/base.html' %}
{% load static %}
{% block title %}{{ campaign.name }}{% endblock %}

{% block content %}
<h1>{{ campaign.name }}</h1>
<p>{{ campaign.description }}
<table class="table">
{% if characters %}

  <tr>
    <td><b>Name</b></td>
    <td><b>Class</b></td>
    <td><b>AC</b></td>
    <td><b>Last updated</b></td>
  </tr>
  {% for character in characters %}
  {% url 'character' char_pk=character.pk as view_url %}
  {% url 'remove' characterpk=character.pk campaignpk=campaign.pk as remove_url %}
  <tr>
    <td>{{ character.name }}</td>
    <td>{{ character.characterClass }}</td>
    <td>{{ character.armorClass }}</td>
    <td>{{ character.updated_on }}</td>
    <td><a class="btn btn-primary" href="{{ view_url }}">View</a></td>
    {% if character.author == user %}<td><a class="btn btn-primary" href="{{ remove_url }}">Remove</a></td>{% endif %}
  </tr>

  {% endfor %}
  {% else %}
    <tr>
      <td>No characters</td>
    </tr>
  {% endif %}
</table>
<br>
<form action="" method="post">
    {% csrf_token %}
    <!-- to do: add tooltip about character Id numbers -->
    <p><label for="id_characterpk">Add character</label><br>
    <p>{{ form.characterpk }}
    <input type="submit" value="Add">
</form>
{% endblock %}
